html{
    background-color: antiquewhite;
}

body{
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 2;
    display: flex;
    justify-content: center;
}

.card{
    width: 1400px;
    width: 100%;
    height: 1500px;
    background-image: url(../Images/garden-medium.jpg);
    box-sizing: border-box;
    margin: 35px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

h1, h2{
    font-family: 'Bebas Neue';
}

h1 {
    font-size: 100px;
    margin-bottom: 20px;
    animation: infinite;
}

h2{
    font-size: 50px;
}


/* .info{
    width: 100%;
    height: 100%;
} */

.info-text{
    background-color: antiquewhite;
    max-width: 300px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0;}


.info-text:hover {
    background-color: rosybrown;
    transition: all 1s ease-in-out;
}

.img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    animation: imgrotate 4s ease infinite;
}

@keyframes imgrotate{
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1.2) rotate(45deg);}
}



button{
    background-color: rosybrown;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600px;
    line-height: 1.5;
    padding: 10px;
    margin: 30px;
}

a{
    color: white;
    text-decoration: none;
}

button:hover{
    background-color: lightpink;
    border-bottom: rosybrown solid 2px;
    box-shadow: 0 4px 8px 0;
    transition: all 1s ease-in-out;
}